In [1]:
import pandas as pd 
import numpy as np

# Useful string functions that are useful in data cleaning

Creating dataframe to practice string functions.

In [122]:
np.random.seed(2)
data = {
    "Date": pd.date_range(start="2024-01-01", periods=100, freq="D"),
    "Sales": np.random.randint(500, 5000, size=100),
    "Product_Category": np.random.choice(["1Accessories and electronic's ", "Cloth-ing", "12345", "FuRNITURE"], size=100),
    "Store_Location": np.random.choice(["North", "South", "East", "West"], size=100),
    "Units_Sold": np.random.randint(1, 200, size=100),
    "Profit": np.random.uniform(50, 500, size=100),
    "Customer_Satisfaction": np.random.uniform(1, 5, size=100),
    "Stock_Level": np.random.randint(0, 1000, size=100),
    "Discount_Applied": np.random.choice([True, False], size=100),
    "Return_Rate": np.random.uniform(0, 0.1, size=100),
}
data=pd.DataFrame(data)

In [123]:
data.head()

,Date,Sales,Product_Category,Store_Location,Units_Sold,Profit,Customer_Satisfaction,Stock_Level,Discount_Applied,Return_Rate
0,2024-01-01,3075,Cloth-ing,South,109,148.058294,3.844083,993,True,0.021662
1,2024-01-02,4106,FuRNITURE,East,7,425.734633,1.975781,447,False,0.044856
2,2024-01-03,3014,FuRNITURE,West,99,95.304049,3.566291,12,False,0.054918
3,2024-01-04,1599,FuRNITURE,South,96,214.465273,1.792000,378,True,0.046238
4,2024-01-05,3835,1Accessories and electronic's,South,50,315.093701,1.807598,554,False,0.013848

To know data types of each column, you can use "dtypes" attribute

In [124]:
data.dtypes

Date                     datetime64[ns]
Sales                             int32
Product_Category                 object
Store_Location                   object
Units_Sold                        int32
Profit                          float64
Customer_Satisfaction           float64
Stock_Level                       int32
Discount_Applied                   bool
Return_Rate                     float64
dtype: object

Note that you can only apply string functions to columns of string type.

To remove any leading, and trailing whitespaces from a string, you can use "str.strip()"" method. You can also specify the character as argument to remove from the beginning and at the end.

In [125]:
data["Product_Category"].str.strip()   #this will remove trailing and leading whitespaces

0                         Cloth-ing
1                         FuRNITURE
2                         FuRNITURE
3                         FuRNITURE
4     1Accessories and electronic's
                  ...
95                            12345
96    1Accessories and electronic's
97                            12345
98                            12345
99    1Accessories and electronic's
Name: Product_Category, Length: 100, dtype: object

In [126]:
data["Product_Category"].str.strip("ing")   #this will remove ing from the begining and at the end of each string.

0                             Cloth-
1                          FuRNITURE
2                          FuRNITURE
3                          FuRNITURE
4     1Accessories and electronic's
                   ...
95                             12345
96    1Accessories and electronic's
97                             12345
98                             12345
99    1Accessories and electronic's
Name: Product_Category, Length: 100, dtype: object

You can use "str.lower()" method to uncapitilize each string of the column.

In [127]:
data["Product_Category"].str.lower()

0                          cloth-ing
1                          furniture
2                          furniture
3                          furniture
4     1accessories and electronic's
                   ...
95                             12345
96    1accessories and electronic's
97                             12345
98                             12345
99    1accessories and electronic's
Name: Product_Category, Length: 100, dtype: object

You can use str.upper() method to capitilize each string of the column.

In [128]:
data["Product_Category"].str.upper()

0                          CLOTH-ING
1                          FURNITURE
2                          FURNITURE
3                          FURNITURE
4     1ACCESSORIES AND ELECTRONIC'S
                   ...
95                             12345
96    1ACCESSORIES AND ELECTRONIC'S
97                             12345
98                             12345
99    1ACCESSORIES AND ELECTRONIC'S
Name: Product_Category, Length: 100, dtype: object

"str.split()" method is used to split the string based on a charater specified as argument of the method. It will gives the list of split strings.

In [129]:
data["Product_Category"].str.split(" ")   #this will split each string from the space.

0                             [Cloth-ing]
1                             [FuRNITURE]
2                             [FuRNITURE]
3                             [FuRNITURE]
4     [1Accessories, and, electronic's, ]
                     ...
95                                [12345]
96    [1Accessories, and, electronic's, ]
97                                [12345]
98                                [12345]
99    [1Accessories, and, electronic's, ]
Name: Product_Category, Length: 100, dtype: object

In [130]:
data["Product_Category"].str.split("-")   #this will split each string from the -.

0                         [Cloth, ing]
1                          [FuRNITURE]
2                          [FuRNITURE]
3                          [FuRNITURE]
4     [1Accessories and electronic's ]
                    ...
95                             [12345]
96    [1Accessories and electronic's ]
97                             [12345]
98                             [12345]
99    [1Accessories and electronic's ]
Name: Product_Category, Length: 100, dtype: object

To count the number of occurrence of a charater or symbol in a string, you can use "str.count()"" method.

In [131]:
data["Product_Category"].str.count("E")   #this will count the number of time E occur in each string.

0     0
1     1
2     1
3     1
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Name: Product_Category, Length: 100, dtype: int64

To identify whether a string starts with specified character, you can use "str.startswhith()" method

In [132]:
data["Product_Category"].str.startswith("E")  #this is give a True if a string starts with E.

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Product_Category, Length: 100, dtype: bool

To identify whether a string end with specified character, you can use "str.endswhith()" method

In [133]:
data["Product_Category"].str.endswith("s")

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Product_Category, Length: 100, dtype: bool

To get the length of each string, you can use "str.len()" method.

In [134]:
data["Product_Category"].str.len()

0      9
1      9
2      9
3      9
4     30
      ..
95     5
96    30
97     5
98     5
99    30
Name: Product_Category, Length: 100, dtype: int64

To replace a charater or a symbol in a string, you can use "str.replace()" method.

In [135]:
data["Product_Category"].str.replace("-", "") #this will replace - with empty space

0                           Clothing
1                          FuRNITURE
2                          FuRNITURE
3                          FuRNITURE
4     1Accessories and electronic's
                   ...
95                             12345
96    1Accessories and electronic's
97                             12345
98                             12345
99    1Accessories and electronic's
Name: Product_Category, Length: 100, dtype: object

To repeat a string multiple time, you can use str.repeat() method.

In [136]:
data["Product_Category"].str.repeat(2)

0                                    Cloth-ingCloth-ing
1                                    FuRNITUREFuRNITURE
2                                    FuRNITUREFuRNITURE
3                                    FuRNITUREFuRNITURE
4     1Accessories and electronic's 1Accessories and...
                            ...
95                                           1234512345
96    1Accessories and electronic's 1Accessories and...
97                                           1234512345
98                                           1234512345
99    1Accessories and electronic's 1Accessories and...
Name: Product_Category, Length: 100, dtype: object

To find the specified character in a string, you can use "str.find()" method. It will gives lowest index of its occurrence in the string. -1 means not found.

In [137]:
data["Product_Category"].str.find("e")

0    -1
1    -1
2    -1
3    -1
4     4
     ..
95   -1
96    4
97   -1
98   -1
99    4
Name: Product_Category, Length: 100, dtype: int64

"str.findall()" method is also used to find substrings or separators in each string.

In [138]:
data["Product_Category"].str.findall("uR")

0       []
1     [uR]
2     [uR]
3     [uR]
4       []
      ...
95      []
96      []
97      []
98      []
99      []
Name: Product_Category, Length: 100, dtype: object

"str.islower()" check if all the characters in the text are in lower case.

In [139]:
data["Product_Category"].str.islower()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Product_Category, Length: 100, dtype: bool

"str.isupper()" check if all the characters in the text are in upper case

In [140]:
data["Product_Category"].str.isupper()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Product_Category, Length: 100, dtype: bool

"isnumeric()"" method returns True if all the characters are numeric (0-9), otherwise False.

In [154]:
data["Product_Category"].str.isnumeric()

0     False
1     False
2     False
3     False
4     False
      ...
95     True
96    False
97     True
98     True
99    False
Name: Product_Category, Length: 100, dtype: bool

To split the string based on more than two characters, you can use regular expression with paramater regex=True and also use expand=True to split the columns in "str.split()" method. Furthermore, you can use n parameter to control the number of splits.

In [170]:
data["Product_Category"].str.split(r"[- R e]",n=1, regex=True, expand=True)  #this will split the columns from - and e

        0                          1
0   Cloth                        ing
1      Fu                     NITURE
2      Fu                     NITURE
3      Fu                     NITURE
4    1Acc  ssories and electronic's
..    ...                        ...
95  12345                       None
96   1Acc  ssories and electronic's
97  12345                       None
98  12345                       None
99   1Acc  ssories and electronic's

[100 rows x 2 columns]

To repalce two or more than two characters in a string, you can use regular expression with parameter regex=True in "str.replace" method

In [171]:
data["Product_Category"].str.replace(r"[- ,]", "", regex=True)

0                        Clothing
1                       FuRNITURE
2                       FuRNITURE
3                       FuRNITURE
4     1Accessoriesandelectronic's
                 ...
95                          12345
96    1Accessoriesandelectronic's
97                          12345
98                          12345
99    1Accessoriesandelectronic's
Name: Product_Category, Length: 100, dtype: object

"str.capitalize()" method in Python is used to change the first letter of a string to uppercase and make all other letters lowercase.

In [173]:
data["Product_Category"].str.capitalize()

0                          Cloth-ing
1                          Furniture
2                          Furniture
3                          Furniture
4     1accessories and electronic's
                   ...
95                             12345
96    1accessories and electronic's
97                             12345
98                             12345
99    1accessories and electronic's
Name: Product_Category, Length: 100, dtype: object

"str.lstrip()" and "str.rstrip()" are used to remove trailing and leading whitespace from left and right respectively.

In [175]:
data["Product_Category"].str.lstrip()
data["Product_Category"].str.rstrip()

0                         Cloth-ing
1                         FuRNITURE
2                         FuRNITURE
3                         FuRNITURE
4     1Accessories and electronic's
                  ...
95                            12345
96    1Accessories and electronic's
97                            12345
98                            12345
99    1Accessories and electronic's
Name: Product_Category, Length: 100, dtype: object

"isalpha()" string method checks if all of the characters in a string are letters of the alphabet ( a-z ).

In [176]:
data["Product_Category"].str.isalpha()

0     False
1      True
2      True
3      True
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Product_Category, Length: 100, dtype: bool

"isdigit()" method returns True if all the characters are digits, otherwise False.

In [178]:
data["Product_Category"].str.isdigit()

0     False
1     False
2     False
3     False
4     False
      ...
95     True
96    False
97     True
98     True
99    False
Name: Product_Category, Length: 100, dtype: bool